<h1>Welcome to this site</h1>


<h2>AlpineJS Check</h2>

<div :test-id="'greet-form'" x-data="{ name: '', greeting: '' }">
  <input name="name" x-model="name" type="text">

  <button x-on:click="greeting = 'Hello, ' + name + '!'">
    Greet
  </button>

  <span x-text="greeting">
  </span>
</div>
