<h1>Welcome</h1>

<%= link_to "Articles", articles_path %>


<h2>AlpineJS Check</h2>

<div x-data="{ name: '', greeting: '' }">
  <input x-model="name" type="text">

  <button x-on:click="greeting = 'Hellor ' + name">
    Greet
  </button>

  <span x-text="greeting">
  </span>
</div>
